<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305089613731-16ae0b2ns7kei4q27akni0s9ocj3teer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305089613731-16ae0b2ns7kei4q27akni0s9ocj3teer</string>
	<key>API_KEY</key>
	<string>AIzaSyBMb96L8Qz-8Xz5U8L750EDCrWIubm8Cdc</string>
	<key>GCM_SENDER_ID</key>
	<string>305089613731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nothing.stage</string>
	<key>PROJECT_ID</key>
	<string>nothing-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>nothing-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305089613731:ios:33ff9d797157d528625416</string>
</dict>
</plist>