<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372774827170-vbeti8l4s4m0hlbd5kruqdin1gcdi3d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372774827170-vbeti8l4s4m0hlbd5kruqdin1gcdi3d7</string>
	<key>API_KEY</key>
	<string>AIzaSyC12mVD745n_WGyxJxNPobZNDlaNhRH1R0</string>
	<key>GCM_SENDER_ID</key>
	<string>372774827170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nothing</string>
	<key>PROJECT_ID</key>
	<string>nothing-f4dd5</string>
	<key>STORAGE_BUCKET</key>
	<string>nothing-f4dd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372774827170:ios:25d168175b9bbe8ff153fb</string>
</dict>
</plist>